<section id="login">
  <div class="app-form">
    <div class="row">
        <div class="col-md-5">
            <h1>Login</h1>
            <div *ngIf="notifyMessage" class="alert alert-success">
              {{ notifyMessage }}
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <label for="email">Email</label>
                  <input type="email"
                         class="form-control"
                         id="email"
                         formControlName="email">
                         <div *ngIf="isInvalidInput('email')"
                         class="alert alert-danger">
                        <div *ngIf="isRequired('email')">
                            Email is required.
                        </div>
                        <div *ngIf="loginForm.controls['email'].errors.pattern">
                            Invalid email.
                        </div>
                     </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                  <input type="password"
                         class="form-control" 
                         id="password"
                         formControlName="password">
              </div>
              <button [disabled]="!loginForm.valid" type="submit" class="btn btn-app">Login</button>
            </form>
            <div *ngIf="errors.length > 0" class="alert alert-danger">
                <p *ngFor="let error of errors">
                          {{ error }}
                </p>
            </div>
        </div>
        <div class="col-md-6 ml-auto">
          <div class="image-container">
            <h2 class="catchphrase">Millions of awesome places to book in a couple of clicks ...</h2>
            <img src="../../../assets/images/login-image.jpg" alt="">
          </div>
        </div>
    </div>
  </div>
</section>